@model Overtime.Models.Department

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Department</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="d_description" class="control-label"></label>
                <input asp-for="d_description" class="form-control" />
                <span asp-validation-for="d_description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="d_active_yn" class="control-label"></label>
                <input asp-for="d_active_yn" class="form-control" />
                <span asp-validation-for="d_active_yn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="d_cre_by" class="control-label"></label>
                <input asp-for="d_cre_by" class="form-control" />
                <span asp-validation-for="d_cre_by" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="d_cre_date" class="control-label"></label>
                <input asp-for="d_cre_date" class="form-control" />
                <span asp-validation-for="d_cre_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
