@model Overtime.Models.Menu

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="card">
        <div class="card-body">
            <div class="page-header">
                <h3>Edit Menu</h3>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="m_id" />
                                <div class="form-group">
                                    <label asp-for="m_description" class="control-label"></label>
                                    <input asp-for="m_description" class="form-control" />
                                    <span asp-validation-for="m_description" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="m_desc_to_show" class="control-label"></label>
                                    <input asp-for="m_desc_to_show" class="form-control" />
                                    <span asp-validation-for="m_desc_to_show" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="m_link" class="control-label"></label>
                                    <input asp-for="m_link" class="form-control" />
                                    <span asp-validation-for="m_link" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="m_parrent_id" class="control-label"></label>
                                    <select asp-for="m_parrent_id" class="form-control" asp-items="@(new SelectList(ViewBag.MenuList,"m_id","m_description"))">
                                        <option value="0">Select Parrent</option>
                                    </select>
                                    <span asp-validation-for="m_parrent_id" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="m_type" class="control-label"></label>
                                    <select asp-for="m_type" class="form-control">
                                        <option selected value="Menu">Menu</option>
                                        <option value="MenuItem">MenuItem</option>
                                    </select>
                                    <span asp-validation-for="m_type" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="m_active_yn" class="control-label"></label>
                                    <input asp-for="m_active_yn" class="form-control" />
                                    <span asp-validation-for="m_active_yn" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <input type="submit" class="btn btn-success" value="Save" class="btn btn-default" />
                                </div>
                            </form>
                        </div>
                    </div>

                    <div>
                        <a asp-action="Index">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
