@model Overtime.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <link href="~/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <script src="~/js/all.min.js" crossorigin="anonymous"></script>
    <style>

        #myVideo {
            position: fixed;
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
        }
    </style>
</head>
<body >
    <video autoplay muted loop id="myVideo">
        
        <source src="~/bg/small-homepage-clip-v2-slo-mo3.mp4" type="video/mp4" />
      
        Your browser does not support HTML5 video.
    </video>
    <div id="layoutAuthentication" >
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header" style="background-color:#21355C"><h3 class="text-center  text-light font-weight-light my-4">Login</h3></div>
                                <div class="card-body" style="background-color:#21355C">
                                    <form asp-action="Login">
                                        <div asp-validation-summary="ModelOnly" class="text-light"></div>
                                        <div class="form-group">
                                            <label asp-for="u_name" class="small mb-1 text-light"></label>
                                            <input asp-for="u_name" class="form-control py-4" placeholder="Enter Username" />
                                            <span asp-validation-for="u_name" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="u_password" class="small text-light mb-1"></label>
                                            <input asp-for="u_password" class="form-control py-4" type="password"/>
                                            <span asp-validation-for="u_password" class="text-danger"></span>
                                        </div>
                                        <div class="form-group align-items-end justify-content-between mt-4 mb-0">
                                            <input type="submit" value="Login" class="btn btn-primary" />
                                        </div>
                                        <div class="form-group align-items-end justify-content-between mt-4 mb-0">
                                            <label  class="small mb-1 text-danger">@ViewBag.Message</label> 
                                        </div>
                                       
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">




        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/scripts.js" asp-append-version="true"></script>
    <script src="~/js/myscript.js" asp-append-version="true"></script>
</body>
</html>
