
@{
    ViewData["Title"] = "consolosidateByType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewData["Title"] = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid" style="margin-top:10px">
    <div class="card">
        <div class="card-body">
            <div class="page-header">
                <h3>Consolidate</h3>
            </div>
           <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Report Type</label>
                        <select  id="type" name="type" class="form-control" >
                            <option value="">All</option>
                            <option value="Department">Department wise</option>
                            <option value="User">User wise</option>
                        </select>
                    </div>
                </div>
                
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Date Range</label>
                        <input id="reportrange" class="form-control" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%" />
                    </div>
                </div>

                <div class="col-md-2" align="center">
                    <div class="form-group">
                        <label class="control-label"></label>
                        <input type="submit" onclick="consolidatedByType();" class="btn btn-primary" />
                    </div>
                </div>

            </div>
            <hr />
            <div id="container">

            </div>
        </div>
    </div>
</div>


