
@{
    ViewData["Title"] = "Consolidate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Overtime.Models.OverTimeRequest

@{
    ViewData["Title"] = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container-fluid" style="margin-top:10px;">
        <div class="card">
            <div class="card-body">

                <div class="page-header">
                   
                            <h3>Consolidate</h3>
                </div>
                   
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Employee</label>
                            <select asp-for="rq_cre_for" id="rq_cre_for" class="form-control" asp-items="@(new SelectList(ViewBag.UserList,"u_id","u_full_name"))">
                                <option value="0">All</option>
                            </select>
                            <span asp-validation-for="rq_cre_for" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Department</label>
                            <select asp-for="rq_dep_id" id="rq_dep_id" class="form-control" asp-items="@(new SelectList(ViewBag.DepartmentList,"d_id","d_description"))">
                                <option value="0">All</option>
                            </select>
                            <span asp-validation-for="rq_dep_id" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Date Range</label>
                            <input id="reportrange" class="form-control" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%" />
                        </div>
                    </div>
                  
                    <div class="col-md-2" align="center">
                        <div class="form-group">
                            <label class="control-label"></label>
                            <input type="submit" onclick="OverTimeConsolidatedReport();" class="btn btn-primary" />
                        </div>
                    </div>

                </div>
                <hr/>

                <hr />
                <div id="container">

                </div>
            </div>
            </div>
        </div>


