@model Overtime.Models.OverTimeRequest

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>OverTimeRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Requested For Me</label>
                <input type="checkbox" id="forWhom" name="forWhom" class="form-check" checked onchange="forWhomChanged()" />
            </div>
            <div class="form-group">
                <label asp-for="rq_cre_for" class="control-label"></label>
                <input id="name" class="form-control" autocomplete="on" />
                <span asp-validation-for="rq_description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="rq_description" class="control-label"></label>
                <input asp-for="rq_description" class="form-control" />
                <span asp-validation-for="rq_description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rq_dep_id" class="control-label"></label>
                <select asp-for="rq_dep_id" class="form-control" asp-items="@(new SelectList(ViewBag.DepartmentList,"d_id","d_description"))"></select>
                <span asp-validation-for="rq_dep_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rq_start_time" class="control-label"></label>
                <input asp-for="rq_start_time" class="form-control" />
                <span asp-validation-for="rq_start_time" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="rq_no_of_hours" class="control-label"></label>
                <input asp-for="rq_no_of_hours" class="form-control" />
                <span asp-validation-for="rq_no_of_hours" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="rq_remarks" class="control-label"></label>
                <input asp-for="rq_remarks" class="form-control" />
                <span asp-validation-for="rq_remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <input asp-for="rq_no_of_hours" class="form-control"  type="hidden"/>
            <span asp-validation-for="rq_no_of_hours" class="text-danger"></span>
            <input type="text" id="" name="forWhom" class="form-check" checked onchange="forWhomChanged()" />
        </div>
        <div class="form-group">
            <label asp-for="rq_cre_for" class="control-label"></label>
            <input id="EmpID" class="form-control" />
            <span asp-validation-for="rq_description" class="text-danger"></span>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
